# Raw data
data/raw/
*.csv

# RStudio / R
.Rhistory
.Rproj.user/
.RData

# OS junk
.DS_Store

# Ignore all generated outputs...
output/*
# ...but keep regression tables tracked
!output/tables/
!output/tables/*.txt
