# -------------------------
# Data: do NOT commit
# -------------------------
data/raw/
data/derived/
*.csv

# -------------------------
# R / RStudio
# -------------------------
.Rhistory
.Rproj.user/
.RData

# -------------------------
# OS junk
# -------------------------
.DS_Store

# -------------------------
# Outputs:
# ignore everything in output/
# BUT keep tables + figures tracked (so results sync)
# -------------------------
output/*

!output/tables/
!output/tables/*.txt

!output/figures/
!output/figures/*.png